.main {
    background-color: #0e1117;
    color: white;
}

.block-container {
    padding-top: 2rem;
}

h1 {
    text-align: center;
    font-weight: 700;
}

.stButton>button {
    background-color: #ff4b4b;
    color: white;
    border-radius: 10px;
    height: 3em;
    width: 100%;
    font-weight: bold;
}

.stSlider > div {
    color: white;
}